<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Skills 专业技能</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>专业技能</h1>
    <img src="/images/portrait.jpeg" alt="Portrait of 房济美" class="portrait-image" />
    <nav>
      <a href="/">Home 首页</a>
      <a href="/skill">Skills 专业技能</a>
      <a href="/projects">Projects 项目经验</a>
    </nav>
  </header>

  <main>
    <section id="skill">

      <div class="skill-category">
        <h3>编程语言</h3>
        <p>Java（熟练）、C/C++、JavaScript、HTML5、SQL</p>
      </div>
      <hr>

      <div class="skill-category">
        <h3>框架</h3>
        <p>Spring、SpringBoot、Mybatis、Spring Security、Node.js、Express.js</p>
      </div>
      <hr>

      <div class="skill-category">
        <h3>数据库</h3>
        <p>MySQL、MongoDB、Oracle、Redis、SQLite</p>
      </div>
      <hr>

      <div class="skill-category">
        <h3>分布式系统</h3>
        <p>Raft一致性算法、Multi-Raft架构、一致性哈希算法</p>
      </div>
      <hr>

      <div class="skill-category">
        <h3>工具</h3>
        <p>熟练使用 IDEA、Git、Maven、Docker、Postman、VScode、Navicat等常用开发工具</p>
      </div>
    </section>
  </main>
</body>
</html>
